Read data

In [4]:
import pandas as pd
#aapl = pd.read_csv("C:/Users/shrini/Downloads/APPLE.csv")
#reliance = pd.read_csv("C:/Users/shrini/Downloads/RELIANCE.NS.csv")
infy = pd.read_csv("C:/Users/shrini/Downloads/INFY.csv")
tcs = pd.read_csv("C:/Users/shrini/Downloads/TCS.BO.csv")
tcs.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-04-03,1450.000000,1463.569946,1446.500000,1454.050049,1433.064453,68598
1,2018-04-04,1461.500000,1466.650024,1445.969971,1453.530029,1432.552002,75234
2,2018-04-05,1457.780029,1481.000000,1457.780029,1478.569946,1457.230469,130186
3,2018-04-06,1470.500000,1480.680054,1463.500000,1474.849976,1453.564331,42414
4,2018-04-09,1475.000000,1481.500000,1457.500000,1460.569946,1439.490356,46454

In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.filterwarnings('ignore')
from bokeh.plotting import figure, show, output_file, output_notebook
from bokeh.palettes import Spectral11, colorblind, Inferno, BuGn, brewer
from bokeh.models import HoverTool, value, LabelSet, Legend, ColumnDataSource,LinearColorMapper,BasicTicker, PrintfTickFormatter, ColorBar
import datetime

In [6]:
TOOLS = 'crosshair,save,pan,box_zoom,reset,wheel_zoom'
p1 = figure(title="stock market", y_axis_type="linear",x_axis_type='datetime', tools = TOOLS)

In [7]:
k1=pd.to_datetime(tcs["Date"]); k1

0     2018-04-03
1     2018-04-04
2     2018-04-05
3     2018-04-06
4     2018-04-09
5     2018-04-10
6     2018-04-11
7     2018-04-12
8     2018-04-13
9     2018-04-16
10    2018-04-17
11    2018-04-18
12    2018-04-19
13    2018-04-20
14    2018-04-23
15    2018-04-24
16    2018-04-25
17    2018-04-26
18    2018-04-27
19    2018-04-30
20    2018-05-02
21    2018-05-03
22    2018-05-04
23    2018-05-07
24    2018-05-08
25    2018-05-09
26    2018-05-10
27    2018-05-11
28    2018-05-14
29    2018-05-15
         ...
218   2019-02-18
219   2019-02-19
220   2019-02-20
221   2019-02-21
222   2019-02-22
223   2019-02-25
224   2019-02-26
225   2019-02-27
226   2019-02-28
227   2019-03-01
228   2019-03-05
229   2019-03-06
230   2019-03-07
231   2019-03-08
232   2019-03-11
233   2019-03-12
234   2019-03-13
235   2019-03-14
236   2019-03-15
237   2019-03-18
238   2019-03-19
239   2019-03-20
240   2019-03-22
241   2019-03-25
242   2019-03-26
243   2019-03-27
244   2019-03-28
245   2019-04-01
246   2019-04-02
247   2019-04-03
Name: Date, Length: 248, dtype: datetime64[ns]

Line

In [5]:
p1.line(k1, tcs.Close, legend="tcs stock", line_color="blue",line_width = 3)
output_file("mak1.html", title="plot")
show(p1)

In [6]:
p1.line(k1, infy.Close, legend="infy stock", line_color="blue",line_width = 3)
output_file("mak12.html", title="plot")
show(p1)

C:\Users\shrini\Anaconda3\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 248), ('y', 252)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [7]:
p1.line(k1, tcs.Volume, legend="tcs volume", line_color="blue",line_width = 3)
p1.line(k1, infy.Volume, legend="infy volume", line_color="red",line_width = 3)
output_file("mak1.html", title="plot")
show(p1)

C:\Users\shrini\Anaconda3\lib\site-packages\bokeh\models\sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 248), ('y', 252)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

Auto Correlation

In [8]:
def acf(series):
    n = len(series)
    data = np.asarray(series)
    mean = np.mean(data)
    c0 = np.sum((data - mean) ** 2) / float(n)
    def r(h):
        acf_lag = ((data[:n - h] - mean) * (data[h:] - mean)).sum() / float(n) / c0
        return round(acf_lag, 3)
    x = np.arange(n) # Avoiding lag 0 calculation
    acf_coeffs = pd.Series(map(r, x)).round(decimals = 3)
    acf_coeffs = acf_coeffs + 0
    return acf_coeffs

def significance(series):
    n = len(series)
    z95 = 1.959963984540054 / np.sqrt(n)
    z99 = 2.5758293035489004 / np.sqrt(n)
    return(z95,z99)

def bok_autocor(series):
    x = pd.Series(range(1, len(series)+1), dtype = float)
    z95, z99 = significance(series)
    y = acf(series)
    p = figure(title='Time Series Auto-Correlation', plot_width=1000,
               plot_height=500, x_axis_label="Lag", y_axis_label="Autocorrelation")
    p.line(x, z99, line_dash='dashed', line_color='grey')
    p.line(x, z95, line_color = 'grey')
    p.line(x, y=0.0, line_color='black')
    p.line(x, z99*-1, line_dash='dashed', line_color='grey')
    p.line(x, z95*-1, line_color = 'grey')
    p.line(x, y, line_width=2)
    return p

series = tcs["Volume"]
show(series.pipe(bok_autocor))